.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.cta-pagination {
    margin-top: 20px;
    text-align: center;
}

.cta-pagination a {
    margin: 0 5px;
    text-decoration: none;
}


.button-cta {
    padding: 20px;
}